<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
	<title>BLOGHOME</title>
</head>
<body>
    <div th:insert="~{header::banner}"></div>
    <div class="article">
		<h3>게시글</h3>
		<div class="article-actions">
    		<a th:href="@{/bbs}">글 목록</a>
    		<form th:action="@{/bbs/delete/{num}(num=${article.num})}" method="post">
        		<input type="submit" value="삭제"/>
    		</form>
    		<a th:href="@{/bbs/modify/{num}(num=${article.num})}">수정</a>
		</div>
		
		<table>
			<tr><td>제목</td>><td>[[${article.title}]]</td></tr>
			<tr><td>작성자</td>><td>[[${article.author}]]</td></tr>
			<tr><td>조회수</td>><td>[[${article.viewCount}]]</td></tr>
			<tr><td>내용</td>><td>[[${article.body}]]</td></tr>
		</table>
		
		<h3>댓글</h3>

		<form action="#" th:action="@{/comment}" th:object="${comments}" method="post">
			<p><input type="text" th:field="*{content}" id="commentinput"/></p>
			<p>
				<input type="submit" value="등록"/>
			</p>
		</form>
		
		<table th:each="c: ${comments}">
			<tr><td>[[${c.author}]]</td>><td>[[${c.content}]]</td></tr>
		</table>
		
		<table>
		<tr>
		<td colspan=3>
			<p><a th:if="${page > 1}" th:href="@{/read(num=${article.num},page=${nowpage-1})}"> &lt;prev </a></p>

			<th:block th:if="${page == 0}">
				<strong>1</strong>
			</th:block>
			<th:block th:if="${page > 0}" th:each="page: ${#numbers.sequence(startPage, endPage)}">
				<a th:if="${page != nowpage}" th:href="@{/read(num=${article.num},page=${page-1})}">[[${page}]]</a>
				<strong th:if="${page == nowpage}">[[${page}]]</strong> 
				
			</th:block>
				

			<p><a th:if="${page < endpage}" th:href="@{/read(num=${article.num},page=${nowpage+1})}"> next> </a></p>
		</td>
		</tr>
		</table>
    <script>
	    window.onload = function() {
	        var comment = document.getElementById('commentinput');
	        comment.value = "";
	    };
    </script>
</body>
</html>