<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
	<title>BLOGHOME</title>
</head>
<body>
    <div th:insert="~{header::banner}"></div>
	<!-- 컨테이너 섹션 -->
	<section class="box_container">
		<div class="inner_banner">
			<div class="in_navbar">
				<in_nav>
					<ul>
						<li >Test</li>
						<li >Test</li>
					</ul>
				</in_nav>
			</div>
		</div>
		<!-- 로그인 아닐시 -->
		<div th:style="${logout_C} ? '' : 'display:none'" id="no_user" class="user-actions-container">
			<div class="user-actions">
				<div class="action-box">
					<button onclick="window.location.href='/signup'">사용자 등록</button>
				</div>
				<div class="action-box">
					<button onclick="window.location.href='/login'">사용자 로그인</button>
				</div>
			</div>
		</div>

		<!-- 로그인 시 -->
		<div th:style="${login_C} ? '' : 'display:none'" id="yes_user" class="user-actions-container">
			<div class="user-actions">
				<div class="action-box">
					<button onclick="window.location.href='/logout'">로그아웃</button>
				</div>
				<div class="action-box">
					<button onclick="window.location.href='/withdrawal'">회원탈퇴</button>
				</div>
				<div class="action-box">
					<button onclick="window.location.href='/edit'">계정 정보 변경</button>
				</div>
			</div>
		</div>

		<li class="box" id="hot">
			<div class="con">
				<button onclick="window.location.href='/bbs'">인기 게시글</button>
			</div>
			<table>
				<tr>
	    			<th>제목</th>
	    			<th>작성자</th>
	    			<th>조회수</th>
				</tr>
				<tr th:each="a: ${articles}">
        			<td>
            			<a th:href="@{/read?num={id}(id=${a.num})}">[[${a.title}]]</a>
        			</td>
        			<td th:text="${a.author}"></td>
        			<td>
            			<p th:text="${a.viewCount}"></p>
        			</td>
    			</tr>
    		</table>
		</li>
		<li class="box" id="new">
			<div class="con">
				<button onclick="window.location.href='/bbs'">최근 게시글</button>
			</div>
			<table>
				<tr>
	    			<th>제목</th>
	    			<th>작성자</th>
	    			<th>조회수</th>
				</tr>
				<tr th:each="a: ${n_articles}">
        			<td>
            			<a th:href="@{/read?num={id}(id=${a.num})}">[[${a.title}]]</a>
        			</td>
        			<td th:text="${a.author}"></td>
        			<td>
            			<p th:text="${a.viewCount}"></p>
        			</td>
    			</tr>
    		</table>
		</li>
	</section>
	
	<form action="#" th:action="@{/search}" method="post">
		<p>검색: <input type="text" name="userName"/></p>
		<p>
			<input type="submit" value="검색"/>
			<input type="reset" value="취소" onclick="location.href='/'"/>
		</p>
	</form>
	
	<div th:each="blog: ${blogUser}">
		<p><a th:href="@{/(blogUser=${blog.userNo})}">[[${blog.name}]]</a>#[[${blog.userNo}]]</p>
	</div>
	
	<!-- 자동 로그인 
	<form action="#" th:action="@{/myblog/login}" method="post">
		<input type="hidden" value="admin@1" name="email"/> 
		<input type="hidden" value="admin" name="passwd"/> 
		<input type="submit" value="자동로그인"/>
	</form> 
	-->
</body>
</html>